@import "tailwindcss";

@theme inline {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
  --font-display: "Inter", sans-serif;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

:root {
  --background: #f5f6f8;
  --foreground: #0f172a;
}

.dark {
  --background: #101622;
  --foreground: #f1f5f9;
}

body {
  font-family: "Inter", sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #282e39;
  border-radius: 10px;
}

.glass-panel {
  background: rgba(25, 31, 45, 0.7);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
